@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../images/fonts/Montserrat/Montserrat-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../images/fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('../images/fonts/Barlow/Barlow-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: 'Montserrat-Regular';
    color: #30425A
}

/** Navbar */
header {
    padding: 2em 0 2em 0;
    height: 30px;
}

.logo img {
    width: 100%;
}

.nav-bar {
    background-color:#fff;
}

.nav-menu {
    padding: 3.5em 2em 7.5em 2em;
    letter-spacing: 0.8px;
    color: #30425A;
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: 1040;
}

.nav-menu-md {
    padding: 3.5em 2em 1em 2em;
    letter-spacing: 0.8px;
    color: #30425A;
    text-transform: uppercase;
    font-size: 0.8em;
    z-index: 1040;
}

/* Nav menu in main_page*/
.nav .arrow {
    width: 30px;
}

.nav {
    font-family: 'Montserrat-Bold';
    font-size: 1em;
}

.menu-item {
    padding-right: 3em !important;
}

.menu-item:hover, .menu-item.selected {
    border-bottom: solid #40929E;
    font-weight: bold;
}

.menu-item a:visited {
    color: #30425A;
}

.menu-item a:hover {
    text-decoration: none;
}

.title h1 {
    font-family: 'Montserrat-Bold';
    font-size: 4em;
    font-weight: bold;
}

.container-left {
    background-color: #FAEEE5;
}

.engagements {
    background-color: #FFFFFF;
}

.engagements-picture {
    height: 140px;
}

.engagements {
    text-align: right;
    height: 7em;
}

.engagements img {
    width: 20px;
}

.description-container {
    background-color: #FAEEE5;
}



.description p {
    font-family: 'Barlow-Regular';
    padding-right: 4em;
}

.description-sm {
    font-family: 'Barlow-Regular';
}

.description-empty {
    background-color: #FAEEE5;
}

.article {
    font-family: 'Barlow-Regular';
}

.article h1, .article h2, .article h3 {
    font-family: 'Montserrat-Bold';
    padding-top: 1em;
}

.article h1 {
    font-size: 4em;
}

.article h2 {
    font-size: 2em;
}

.article h3 {
    font-size: 1em;
}

.article .content-picture {
    width: 100%;
}

.article .dark {
    background-color: #FAEEE5
}

.picture img {
    width: 100%;
}

.box {
    text-align: center;
}

.box h3 {
    font-weight: bold;
    font-size: 18px;
}

.box img {
    width: 100px;
}

.expertises {
    background-color: #FFFFFF;
    margin-left: -6em;
}

.expertises h2, .expertises-sm h2, .news h2 {
    font-family: Montserrat-Bold;
    font-weight: bold;
}

.news a:hover, .news a {
    text-decoration: none;
    color: inherit;
}

.expertises p, .expertises-sm p {
    font-family: 'Barlow-Regular';
}

.expertises-blank {
    background-color: #FAEEE5;
}

.creation, .creation a, .creation a:hover, .creation a:link {
    background-color: #F4DFCC;
    color: #30425A;
    text-decoration: none;
}

.strategie, .strategie a, .strategie a:hover, .strategie a:link {
    background-color: #FAEEE5;
    color: #30425A;
    text-decoration: none;
} 

.controle, .controle a, .controle a:hover, .controle a:link {
    background-color: #E99283;
    color: #FAEEE5;
    text-decoration: none;
}

.fiscalite, .fiscalite a, .fiscalite a:hover, .fiscalite a:link{
    background-color: #30425A;
    color: #FAEEE5;
    text-decoration: none;
}

.transmission, .transmission a, .transmission a:hover, .transmission a:link {
    background-color: #FAEEE5;
    color: #30425A;
    text-decoration: none;
}

.declaration, .declaration a, .declaration a:hover, .declaration a:link {
    background-color: #F4DFCC;
    color: #30425A;
    text-decoration: none;
}

.blank {
    background-color: #FFFFFF;
    color: #FAEEE5;
    text-decoration: none;
}

.associations, .associations a, .associations a:hover, .associations a:link {
    background-color: #E99283;
    color: #FAEEE5;
    text-decoration: none;
}

.securisation, .securisation a, .securisation a:hover, .securisation a:link {
    background-color:  #73A7AF;
    color: #FAEEE5;
    text-decoration: none;
}

.dirigeants, .dirigeants a, .dirigeants a:hover, .dirigeants a:link {
    background-color: #30425A;
    color: #FAEEE5;
    text-decoration: none;
}

.address {
    background-color: #FAEEE5;
    color: #30425A;
}

.map img {
    width: 100%;
}

.address span {
    font-family: 'Barlow-Regular';
}

.footer {
    background-color: #30425A;
    color: #FFFFFF;
}

.footer ul {
    font-family: 'Barlow-Regular';
}

.footer img.logo {
    /*width: 60%;*/
}

.contact a {
    color: #FFFFFF;
}

.contact img.phone {
    width: 20px;
}

.contact img.mail {
    width: 30px;

}

.last-lines {
    font-weight: bold;
    font-size: 0.8em;
}

.dg {
    border: 1px solid red
}

.news-image {
    width: 100%;
}

.news p {
    font-family: 'Barlow-Regular';
}