@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/webdesign-src/fonts/Montserrat/Montserrat-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/webdesign-src/fonts/Montserrat/Montserrat-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Barlow-Regular';
    src: url('/webdesign-src/fonts/Barlow/Barlow-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
    font-family: 'Montserrat-Regular';
    color: #30425A
}

header {
    padding: 2em 0 2em 0;
    height: 30px;
}

.navbar-hidden {
    visibility: hidden
}

.under-dev {
    padding: 2em;
    border-left: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    background-color: #30425A;
    color: #FFFFFF;
}

.title h1 {
    font-family: 'Montserrat-Bold';
    font-size: 5em;
}

.container-left {
    background-color: #FAEEE5;
}

.engagements {
    background-color: #FFFFFF;
}

.engagements-picture {
    height: 140px;
}

.engagements {
    text-align: right;
    height: 7em;
}

.engagements img {
    width: 20px;
}

.description-container {
    background-color: #FAEEE5;
}

.description {
    padding: 6em 4em 6em 4em;
}

.description p {
    font-family: 'Barlow-Regular';
    padding-right: 4em;
}

.description-empty {
    background-color: #FAEEE5;
}

.picture img {
    width: 100%;
}

.box {
    text-align: center;
}

.box h3 {
    font-weight: bold;
    font-size: 26px;
    margin-left: -6em;
}

.expertises h2 {
    font-family: Montserrat-Bold
}

.expertises p {
    font-family: 'Barlow-Regular';
}

.expertises-blank {
    background-color: #FAEEE5;
}

.strategie {
    background-color: #F4DFCC;
    color: #30425A;
}

.creation {
    background-color: #E99283;
    color: #FAEEE5;
} 

.securisation {
    background-color: #30425A;
    color: #FAEEE5;
}

.associations {
    background-color: #FAEEE5;
}

.controle {
    background-color: #F4DFCC;
}

.declaration {
    background-color: #E99283;
    color: #FAEEE5;
}

.blank {
    background-color: #FFFFFF;
    color: #FAEEE5;
}

.transmission {
    background-color:  #73A7AF;
    color: #FAEEE5;
}

.fiscalite {
    background-color: #30425A;
    color: #FAEEE5;
}

.dirigeants {
    background-color: #FAEEE5;
    color: #30425A;
}

.address {
    background-color: #FAEEE5;
    color: #30425A;
}

.map img {
    width: 100%;
}

.address span {
    font-family: 'Barlow-Regular';
}

.footer {
    background-color: #30425A;
    color: #FFFFFF;
}

.footer ul {
    font-family: 'Barlow-Regular';
}

.footer img.logo {
    /*width: 60%;*/
}

.contact a {
    color: #FFFFFF;
}

.contact img.phone {
    width: 20px;
}

.contact img.mail {
    width: 30px;

}

.last-lines {
    font-weight: bold;
    font-size: 0.8em;
}