
  <div class="row address-map">
    <div class="col-sm-12 align-middle col-md-6 map p-0">
      <a
        href="https://www.google.fr/maps/place/THAOS+AVOCAT/@48.1077317,-1.6892162,17z/data=!4m10!1m2!2m1!1sthaos+avocat!3m6!1s0x480edfe2cf3eb4b9:0x99482cee6a193cb4!8m2!3d48.1077317!4d-1.6866413!15sCgx0aGFvcyBhdm9jYXRaDiIMdGhhb3MgYXZvY2F0kgEMdGF4X2F0dG9ybmV5qgFECg0vZy8xMWo1MHh5a2J6EAEyHxABIhvxe5YVXA9wFvZi4qfu9a1c69P2i_usFPlrOgsyEBACIgx0aGFvcyBhdm9jYXTgAQA!16s%2Fg%2F11j50xykbz?entry=ttu&g_ep=EgoyMDI1MDcwOC4wIKXMDSoASAFQAw%3D%3D"><img
          src="{{ site.baseurl }}/images/Map-1@2x.webp" alt="Localisation des bureaux de Thaos avocat"></a>
    </div>
    <div class="col-sm-12 align-middle col-md-6 address p-5">
      <h2>THAOS Avocat</h2>
      Esther Le Guellec<br>
      <span>9, boulevard Sébastopol<br>
        35000 Rennes</span>
    </div>
  </div>
  <div class="row footer">
    <div class="col-lg-4 align-middle p-5">
      <img class="logo" src="{{ site.baseurl }}/images/logo THAOS footer@2x.png" alt="Logo Thaos Avocat pied de page">
    </div>
    <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block align-middle p-5">
    </div>
    <div class="col-lg-4 align-middle p-5 contact">
      CONTACT
      <ul class="list-unstyled mt-3">
        <li><img src="{{ site.baseurl }}/images/picto tel footer@2x.png" class="phone" alt="Téléphone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;07
          85 89 68 58 // 02 44 51 39 54</li>
        <li><img src="{{ site.baseurl }}/images/picto mail footer@2x.png" class="mail" alt="Adresse email">&nbsp;&nbsp;<a
            href="mailto:e.leguellec@thaos-avocat.com">e.leguellec@thaos-avocat.com</a></li>
      </ul>
    </div>
  </div>
  <div class="row footer last-lines">
    <div class="col-sm-12 align-middle pb-4 pl-5 pr-5">
      AVOCAT FISCALISTE &Agrave; RENNES<br>
      <a href="{{ site.baseurl }}/mentions_legales.html">Mentions légales</a><br>
      THAOS avocat &copy; Web design Marie Stum
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>