
  <div class="row address-map">
    <div class="col-sm-12 align-middle col-md-6 map p-0">
      <a
        href="https://www.qwant.com/maps/place/addr:-1.674146;48.087332:105@105_Avenue_Henri_Fréville/#map=16/48.0873320/-1.6741460"><img
          src="{{ site.baseurl }}/images/Map-1@2x.jpg" alt="Localisation des bureaux de Thaos avocat"></a>
    </div>
    <div class="col-sm-12 align-middle col-md-6 address p-5">
      <h2>THAOS Avocat</h2>
      Esther Le Guellec<br>
      <span>105, avenue Henri Fréville<br>
        35200 Rennes</span>
    </div>
  </div>
  <div class="row footer">
    <div class="col-lg-4 align-middle p-5">
      <img class="logo" src="{{ site.baseurl }}/images/logo THAOS footer@2x.png" alt="Logo Thaos Avocat pied de page">
    </div>
    <div class="col-lg-4 d-none d-sm-none d-md-none d-lg-block align-middle p-5">
    </div>
    <div class="col-lg-4 align-middle p-5 contact">
      CONTACT
      <ul class="list-unstyled mt-3">
        <li><img src="{{ site.baseurl }}/images/picto tel footer@2x.png" class="phone" alt="Téléphone">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;07
          85 89 68 58</li>
        <li><img src="{{ site.baseurl }}/images/picto mail footer@2x.png" class="mail" alt="Adresse email">&nbsp;&nbsp;<a
            href="mailto:e.leguellec@thaos-avocat.com">e.leguellec AT thaos-avocat.com</a></li>
      </ul>
    </div>
  </div>
  <div class="row footer last-lines">
    <div class="col-sm-12 align-middle pb-4 pl-5 pr-5">
      AVOCAT FISCALISTE &Agrave; RENNES<br>
      <a href="{{ site.baseurl }}//mentions_legales.html">Mentions légales</a><br>
      THAOS avocat &copy; Web design Marie Stum
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>