<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">

  <title>Esther Le Guellec, avocat fiscaliste à Rennes</title>
</head>

<body>
  <div class="right-menu d-none d-md-block">
    <div class="contact-boxes">
      <div class="contact-boxes-item">
        <a href="tel:0785896858"><img src="{{ site.baseurl }}/images/phone-sticky-green.png" alt="Contactez-nous par téléphone"></a>
      </div>
      <div class="contact-boxes-item">
        <a href="mailto:e.leguellec@thaos-avocat.com?subject=Demande de renseignements"><img src="{{ site.baseurl }}/images/mail-sticky-green.png" alt="Contactez-nous par mail"></a>
      </div>
      <div class="contact-boxes-item">
        <a href="https://www.linkedin.com/in/esther-le-guellec-98736873/"><img src="{{ site.baseurl }}/images/LinkedIn-sticky-green.jpg" alt="Contactez-nous par LinkedIn"></a>
      </div>
      <div class="contact-boxes-item up-item">
        <a href=""><img src="{{ site.baseurl }}/images/up-sticky.jpg" alt="Aller au début de la page"></a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row sticky-top nav-bar d-none d-lg-flex d-xl-flex">
      <div class="col-md-12 col-lg-2 logo p-2">
        <a href="{{ site.baseurl }}/" alt="Aller sur la page d'accueil">
          <img src="{{ site.baseurl }}/images/logo THAOS header@2x.png" alt="Logo Thaos avocat">
        </a>
      </div>
      <div class="col-md-12 col-lg-10 nav-menu d-flex flex-column-reverse flex-sm-column-reverse flex-md-column-reverse flex-lg-row-reverse bd-highlight mb-3">
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/contact.html">Contact</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/engagements_et_réseaux.html">Engagements et réseaux</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/#news">Actualités</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/honoraires.html">Honoraires</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/expertises">Expertises</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/">Accueil</a></div>
      </div>
    </div>
    <div class="row nav-bar d-flex d-lg-none">
      <div class="col-md-12 col-lg-2 logo">
        <a href="{{ site.baseurl }}/" alt="Aller sur la page d'accueil">
          <img src="{{ site.baseurl }}/images/logo THAOS header@2x.png" alt="Logo Thaos avocat">
        </a>
      </div>
      <div class="col-md-12 col-lg-10 nav-menu-md d-flex flex-column-reverse flex-sm-column-reverse flex-md-column-reverse flex-lg-row-reverse bd-highlight mb-3">
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/contact.html">Contact</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/engagements_et_réseaux.html">Engagements et réseaux</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/#news.html">Actualités</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/honoraires.html">Honoraires</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/expertises">Expertises</a></div>
        <div class="p-2 bd-highlight menu-item"><a href="{{ site.baseurl }}/">Accueil</a></div>
      </div>
    </div>