<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <title>Esther Le Guellec, avocat fiscaliste à Rennes</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row sticky-top dg">
      <div class="col-2 col-md-2 col-sm-2 logo">
        <img src="webdesign-src/logo THAOS header@2x.png" alt="Logo Thaos avocat">
      </div>
      <div class="col-10 nav-menu d-flex flex-row-reverse bd-highlight mb-3">
        <div class="p-2 bd-highlight menu-item">Contact</div>
        <div class="p-2 bd-highlight menu-item">Actualités</div>
        <div class="p-2 bd-highlight menu-item">Engagement et réseaux</div>
        <div class="p-2 bd-highlight menu-item">Honoraires</div>
        <div class="p-2 bd-highlight menu-item">Expertises</div>
        <div class="p-2 bd-highlight menu-item">Accueil</div>
      </div>
    </div>